#box{
    background-color: blue;
    color: white;
}
.heading{
    color: red;
}
h4,h5,h6{
    color: #8a2be2;
}

button{
    color: red;
    background-color: green;
}
h3{
    text-align: center;
}


